html
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif
    line-height: 1.5
    font-size: 15px
    font-weight: 400
<<<<<<< HEAD
    
=======
>>>>>>> 7b82a74a50e796386d8a717165a3d3719802c771

body
  padding: 0
  margin: 0
<<<<<<< HEAD
  background: $background-color

h1, a
  color: #FFFFFF
  text-decoration: none
=======
  background: #131417
>>>>>>> 7b82a74a50e796386d8a717165a3d3719802c771

*, *:before, *:after
  box-sizing: border-box
  color:  #FFFFFF

ul
<<<<<<< HEAD
  list-style: none
  margin: 0
  padding: 0
  
=======
  padding-left: 0
  margin-left: 0
  list-style-type: none

a
  text-decoration: none
  &:hover
    cursor: pointer

// Small devices
@mixin sm
   @media (max-width: #{$screen-sm-min})
       @content

// Medium devices
@mixin md
   @media (max-width: #{$screen-md-min})
       @content

// Large devices
@mixin lg
   @media (max-width: #{$screen-lg-min})
       @content;

// Extra large devices
@mixin xl
   @media (max-width: #{$screen-xl-min})
       @content;
>>>>>>> 7b82a74a50e796386d8a717165a3d3719802c771
