html
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif
    line-height: 1.5
    font-size: 15px
    font-weight: 400
    

body
  padding: 0
  margin: 0
  background: $background-color

h1, a
  color: #FFFFFF
  text-decoration: none

*, *:before, *:after
  box-sizing: border-box
  color:  #FFFFFF

ul
  list-style: none
  margin: 0
  padding: 0
  