
// Colors:

$background-color: #131417

// declare your variables for color

$purewhite: #FFFFFF 
$primary-color: #47cf73
$secondary-color: #444857
$accent-color: #0ebeff
$warning-color: #ffdd40

$lightgray: #b7bbc8
$gray: #aaaebc
$card-gray: #2c303a

$black: black
$weak-black: #1F1F26
$search-form-background: #252830


// Break Points:

$screen-sm-min: 576px

// Small tablets (portrait view)
$screen-md-min: 768px

// Tablets and small desktops
$screen-lg-min: 992px

// Large tablets and desktops
$screen-xl-min: 1200px