
// Colors:

$background-color: #131417
// declare your variables for color


// Break Points:

$screen-sm-min: 576px

// Small tablets (portrait view)
$screen-md-min: 768px

// Tablets and small desktops
$screen-lg-min: 992px

// Large tablets and desktops
$screen-xl-min: 1200px

// @mixin:

@mixin sm
    @media only screen and (max-width : $screen-sm-min)
      @content
    
@mixin md
    @media only screen and (min-width : $screen-md-min)
      @content
    
  
@mixin lg
    @media only screen and (min-width : $screen-lg-min)
      @content
    
  
@mixin xl
    @media only screen and (min-width : $screen-xl-min)
      @content

@mixin code-card($left: 160px, $bottom: 20px, $position: relative)
  left: $left
  bottom: $bottom
  position: $position

