html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

h1, a {
  color: #FFFFFF;
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.l-header {
  display: flex;
  align-items: center; }

.l-margin-left-2rem {
  margin-left: 2rem !important; }

.l-margin-left-4rem {
  margin-left: 4rem !important; }

.badge {
  background: #ffdd40;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 4px; }

.button {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px; }
  .button:hover {
    opacity: .5;
    cursor: pointer; }

.button-outline {
  border: 3px solid #aaaebc; }

.button-logo {
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 154px;
  margin: 0 16px;
  padding: 0; }

.button-logo-text {
  display: block;
  background: black;
  padding: 8px;
  width: 100%; }

.header-buttons {
  padding: 8px; }
  .header-buttons .button {
    margin-right: 8px;
    min-width: 100px; }

.button-primary {
  background: #47cf73;
  color: black; }

.button-secondary {
  background: #444857; }

.hero-body-image-card {
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  width: 495px;
  height: 410px;
  border-radius: 6px;
  margin: 16px auto; }

.card {
  background: #2c303a;
  padding: 2rem;
  width: 360px;
  border-radius: 6px;
  height: 340px; }

.card-description {
  color: #b7bbc8; }

.card-icon {
  background: black;
  position: relative;
  left: 16px;
  top: 32px;
  height: 64px;
  width: 64px;
  border-radius: 6px;
  text-align: center; }
  .card-icon .fa {
    font-size: 48px;
    position: relative;
    top: 8px; }

.card-footer {
  margin: 16px 0; }

.product-item {
  background: #2c303a;
  margin: 2rem 1rem;
  width: 360px; }

.product-item-row {
  justify-content: center; }

.product-message-body {
  color: #b7bbc8;
  margin-bottom: 16px; }

.product-item-card {
  border-radius: 4px;
  background: #2c303a;
  transition: .2s; }
  .product-item-card:hover {
    transform: scale(1.05);
    opacity: .4;
    cursor: pointer; }

.product-item-card-image img {
  width: 100%; }

.product-item-card-body-avator {
  width: 40px;
  height: 40px; }
  .product-item-card-body-avator img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px; }

.product-item-card-body {
  display: flex;
  padding: 16px;
    padding-top: 0; }

.product-item-card-body-title-text,
.product-item-card-body-title p {
  margin: 0; }

.product-item-card-image {
  padding: 8px;
  margin: auto; }

.product-item-card-body-title {
  margin-left: 1rem; }

.product-item-card-footer {
  padding: 8px 16px; }

.product-item-card-footer-card {
  background: black;
  border-radius: 4px;
  margin-right: 4px;
  padding: 2px 4px; }

.product-item-list-footer {
  display: flex;
  justify-content: center; }

.code-card {
  background: #1d1e22;
  margin-bottom: 8px;
  width: 300px;
  height: 140px;
  font-size: 13px;
  border-radius: 6px; }

.code-card-header {
  padding: 4px 8px;
  justify-content: space-between; }

.code-card-title-text {
  margin: 0;
    margin-left: 8px; }

.code-card-html,
.code-card-js {
  left: 160px;
  bottom: 20px;
  position: relative; }

.code-card-scss {
  left: 220px;
  bottom: 20px;
  position: relative; }

.code-card-body {
  padding: 8px;
  padding-top: 0; }

.code-card-body p {
  margin: 0; }

.hilight-orange {
  color: #a88038; }

.hilight-beige {
  color: #e1ca72; }

.hilight-green {
  color: #74b087; }

.hilight-purple {
  color: #9f8198; }

.hilight-blue {
  color: #7a99ad; }

.cursor {
  animation: blink 1s infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.features {
  justify-content: center; }
  .features .card {
    height: 340px; }

.features-card {
  margin: 2rem 1rem; }

.footer {
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background: black; }

.footer-links h4 {
  margin: 2px;
  margin-right: 1rem; }

.footer-links li {
  margin-right: 1rem; }

.footer-links ul {
  margin: 15px 0; }

.footer-logo {
  font-size: 2rem; }

.l-section {
  margin: 32px 0; }

.hero {
  margin: 32px; }

.hero-body {
  display: flex; }
  @media only screen and (max-width: 576px) {
    .hero-body {
      flex-wrap: wrap; } }

.hero-body-description {
  width: 50%;
  padding: 32px; }
  @media only screen and (max-width: 576px) {
    .hero-body-description {
      width: 100%; } }

.hero-body-image {
  width: 50%; }
  @media only screen and (max-width: 576px) {
    .hero-body-image {
      width: 100%; } }

@media only screen and (max-width: 576px) {
  .hero-body-image-card {
    width: 100%; } }

.hero-body-description-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 900; }

.hero-body-description-text {
  font-size: 1.1rem; }

.text-bold {
  font-weight: bold; }

.hero-footer .button {
  width: 200px;
  font-size: 1.4em; }

.header-buttons {
  padding: 8px; }

.hero-logo {
  font-size: 36px; }

.code-card-header .fa:before {
  color: #b7bbc8; }

.search-form {
  padding: 8px;
  margin: 8px;
  background: #252830;
  border-radius: 4px;
  width: 100%; }
  .search-form i {
    font-size: 20px; }

.search-form-input {
  margin-left: 16px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background: #252830;
  border: 0; }

.sidebar {
  background: #1F1F26; }
  @media only screen and (max-width: 576px) {
    .sidebar {
      display: none; } }

.codepen-logo {
  text-align: center; }

.get-start-text {
  margin: .2em;
  font-size: .8em;
  text-align: center;
  color: #b7bbc8; }

.sidebar-menu a {
  padding-left: 16px;
  display: black;
  cursor: pointer; }
  .sidebar-menu a:hover {
    background-color: black; }

.sidebar-menu-sub-list {
  margin-bottom: 16px; }

.sidebar-menu-title {
  font-size: .8em;
  margin-bottom: .2em;
  margin-left: 16px; }

.text-warning {
  color: #ffdd40; }

.text-primary {
  color: #47cf73; }

.text-accent {
  color: #0ebeff; }

.text-weak {
  color: #b7bbc8; }
