html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

h1, a {
  color: #FFFFFF;
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.l-header {
  display: flex;
  align-items: center; }

.search-form {
  padding: 8px;
  margin: 8px;
  background: #252830;
  border-radius: 4px;
  width: 100%; }

.search-form-input {
  margin-left: 16px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background: #252830; }

/*.search-form-input
  text-decoration: none*/
.sidebar {
  background: #1F1F26; }

.codepen-logo {
  text-align: center; }

.get-start-text {
  margin: .2em;
  font-size: .8em;
  text-align: center;
  color: #b7bbc8; }

.button {
  text-align: center;
  display: inline-block;
  border-radius: 4px; }

.button-logo {
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 154px;
  margin: 0 16px; }

.button-logo-text {
  display: block;
  background: black;
  padding: 8px;
  width: 100%; }

.sidebar-menu a {
  padding-left: 16px;
  display: block;
  cursor: pointer; }
  .sidebar-menu a:hover {
    background-color: black; }

.sidebar-menu-sub-list {
  margin-bottom: 16px; }

.sidebar-menu-title {
  font-size: .8em;
  margin-bottom: .2em;
  margin-left: 16px; }

.text-warning {
  color: #ffdd40; }

.text-primary {
  color: #47cf73; }

.badge {
  background: #ffdd40;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 4px; }

.text-accent {
  color: #0ebeff; }

.text-weak {
  color: #b7bbc8; }
