.card
    padding: 2rem
    width: 360px
    border-radius: 6px
    background: $card-gray
.card-icon
    background: $black
    position: relative
    left: 16px
    top: 32px
    height: 64px
    width: 64px
    border-radius: 6px
    text-align: center
    .fa
        font-size: 48px
        position: relative
        top: 8px
.card-description
    color: $lightgray
.card-footer
    margin: 16px 0
