.hero-body-image-card
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%)
  width: 495px
  height: 410px
  border-radius: 6px
  margin: 16px auto

.hilight-orange
  color: #a88038

.hilight-beige
  color: #e1ca72

.hilight-green
  color: #74b087

.hilight-purple
  color: #9f8198

.hilight-blue
  color: #7a99ad

.cursor
  animation: blink 1s infinite

@keyframes blink
  0%
    opacity: 0
  50%
    opacity: 0
  51%
    opacity: 1
  100%
    opacity: 1

.card
  background: #2c303a
  padding: 2rem
  width: 360px
  border-radius: 6px
  height: 340px

.card-description
  color: #b7bbc8;

.card-icon
  background: black;
  position: relative;
  left: 16px;
  top: 32px;
  height: 64px;
  width: 64px;
  border-radius: 6px;
  text-align: center;
  .fa
    font-size: 48px
    position: relative
    top: 8px

.card-footer
  margin: 16px 0