.code-card
  background: #1d1e22
  margin-bottom: 8px
  width: 300px
  height: 140px
  font-size: 13px
  border-radius: 6px;

.code-card-header
  padding: 4px 8px
  justify-content: space-between

.code-card-title-text
  margin: 0
    left: 8px

.code-card-html,
.code-card-js
  @include code-card;

.code-card-scss
  @include code-card(220px);

.code-card-body p
  margin: 0