.code-card
    margin-bottom: 8px
    background: #1d1e22
    border-radius: 6px
    width: 300px
    height: 140px
    font-size: 13px
.code-card-html
    position: relative
    left: 160px
    bottom: 20px
    @include sm
        left: 120px
.code-card-scss
    position: relative
    left: 220px
    bottom: 20px
    @include sm
        left: 160px
.code-card-js
    position: relative
    left: 160px
    bottom: 20px
    @include sm
        left: 120px

.code-card-header
    padding: 4px 8px
    justify-content: space-between
    .fa:before
      color: $lightgray
.code-card-body
    padding: 8px
    padding-top: 0
    p
      margin: 0
.code-card-title

.code-card-title-text
    margin: 0
    margin-left: 8px
.hilight-orange
    color: #a88038
.hilight-beige
    color: #e1ca72
.hilight-green
    color: #74b087
.hilight-purple
    color: #9f8198
.hilight-blue
    color: #7a99ad

.cursor
    animation: blink 1s infinite
@keyframes blink 
    0% 
        opacity: 0
    50%
        opacity: 0
    51%
        opacity: 1
    100%
        opacity: 1