.product-item
  background: #2c303a
  margin: 2rem 1rem
  width: 360px

.product-message-body
  color: #b7bbc8
  margin-bottom: 16px

.product-item-card-image img
  width: 100%

.product-item-card-body-avator
  width: 40px
  height: 40px
  img
    width: 100%
    object-fit: cover
    border-radius: 4px


.product-item-card-body
  display: flex