.product-item
  background: #2c303a
  margin: 2rem 1rem
  width: 360px

.product-message-body
  color: #b7bbc8
  margin-bottom: 16px

.product-item-card
  border-radius: 4px;
  background: #2c303a;
  transition: .2s
  &:hover
    transform: scale(1.05)
    opacity: .4
    cursor: pointer

.product-item-card-image img
  width: 100%

.product-item-card-body-avator
  width: 40px
  height: 40px
  img
    width: 100%
    object-fit: cover
    border-radius: 4px

.product-item-card-body
  display: flex
  padding: 16px
    top: 0

.product-item-card-body-title-text,
.product-item-card-body-title p
  margin: 0

.product-item-card-image
  padding: 8px
  margin: auto

.product-item-card-body-title
  margin-left: 1rem

.product-item-card-footer
  padding: 8px 16px

.product-item-card-footer-card
  background: black
  border-radius: 4px
  margin-right: 4px
  padding: 2px 4px

.product-item-list-footer
  display: flex
  justify-content: center