.sidebar
    background: $weak-black
.sidebar-menu-title
     font-size: .8rem
     margin-bottom: .2rem

.sidebar-menu-list
    margin-left: 16px

.sidebar-menu-sub-list
    margin-bottom: 16px

.get-start-text
    margin: .2em
    font-size: .8em
    text-align: center
    color: $lightgray