.sidebar
  background: #1F1F26
  @include sm
    display: none

.codepen-logo
  text-align: center

.get-start-text
  margin: .2em
  font-size: .8em
  text-align: center
  color: #b7bbc8

.sidebar-menu a
  padding-left: 16px
  display: block
  cursor: pointer
  &:hover
    background-color: black
    
.sidebar-menu-sub-list
  margin-bottom: 16px

.sidebar-menu-title
  font-size: .8em
  margin-bottom: .2em
  margin-left: 16px

.text-warning
  color: #ffdd40

.text-primary
  color: #47cf73

.text-accent
  color: #0ebeff

.text-weak
  color: #b7bbc8
